* {
    margin: 0;
    padding: 0;
}

.titulo{

    width: 80%;
    margin: 20px auto;
    background: #2c3885;
    color: #ffffff;
    text-align: center;

}


table{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc !important;
}

td{
    border-top: 1px solid #ccc !important;

}

tr{

    height: 70px;
}

.cont{
    width: 30%;
    margin: 0px auto;
}

.container {

    width: 100%;
    margin: 10px auto;
    background: #7b7777;
    display: inline-block;
}

.container .container-id{

    width: 80%;
    margin: 0px auto;
    color:white;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}

.container .container-titulo{
    width: 80%;
    margin: 0px auto;
    color:white;
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;

}

.cont2 .esconder{

    display: block;

}

.cont2 .mostrar{
    display: none;
}